PORT=5001
MONGO_URI=inserisci_qui_la_tua_stringa_di_connessione_mongodb_atlas
CLOUDINARY_CLOUD_NAME=inserisci_qui_il_tuo_cloud_name
CLOUDINARY_API_KEY=inserisci_qui_la_tua_api_key
CLOUDINARY_API_SECRET=inserisci_qui_la_tua_api_secret
JWT_SECRET=inserisci_qui_la_tua_chiave_segreta_jwt
GOOGLE_CLIENT_ID=inserisci_qui_il_tuo_google_client_id
GOOGLE_CLIENT_SECRET=inserisci_qui_il_tuo_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:5001/authors/googleCallback